html {
  scroll-behavior: smooth;
}

body {
  max-width: 320px;
  margin: auto;
  background: #ddd;
  font-family: 'Poppins', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background: #1e1e1e;
  color: #ddd;
  padding-bottom: 30px;
}

.container-header {
  display: flex;
  align-items: start;
  margin-bottom: 40px;
  margin-top: 15px;
}

.logo {
  font-size: 34px;
  margin-top: 0;
  line-height: 30px;
}

.subtitle {
  font-weight: 600;
  font-size: 16px;
  margin-top: 0;
}

header a {
  font-size: 18px;
  color: #ddd;
  font-weight: 600;
}

h1 {
  font-family: 'Vina Sans', cursive;
  letter-spacing: 1px;
  margin: 0;
  font-weight: 400;
  text-transform: capitalize;
}

p {
  font-size: 16px;
}

.decoration {
  max-width: 180px;
}

.container-navigation {
  display: flex;
  margin-bottom: 10px;
}

h1, p, a {
  padding: 0 15px;
}

main {
  background: white;
  padding-top: 60px;
}

.container-title {
  display: flex;
  margin-bottom: 30px;
}

.container-title img {
  max-width: 140px;
}

.red-part {
  color: #d14646;
}

.blue-part {
  color: #3f67de;
}

.green-part {
  color: #669933;
}

.purple-part {
  color: #a62f94;
}

.yellow-part {
  color: #cc9900;
}

.white-part {
  color: #ddd;
}

footer {
  background: #1e1e1e;
}

footer a img {
  max-width: 28px;
}