html {
  scroll-behavior: smooth;
}

body {
  max-width: 320px;
  margin: auto;
  background: #ddd;
  font-family: 'Poppins', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background: #1e1e1e;
  color: #ddd;
  padding-bottom: 40px;
}

.container-header {
  display: flex;
  align-items: start;
  margin-bottom: 60px;
  margin-top: 15px;
}

.logo {
  font-size: 34px;
  margin-top: 0;
  line-height: 26px;
}

.subtitle {
  font-weight: 600;
  font-size: 16px;
  margin-top: 0;
}

header a {
  font-size: 18px;
  color: #ddd;
  font-weight: 600;
}

h1 {
  font-family: 'Vina Sans', cursive;
  letter-spacing: 1px;
  margin: 0;
  font-weight: 400;
  text-transform: capitalize;
}

p {
  font-size: 16px;
}

.decoration {
  max-width: 180px;
}

.container-navigation {
  display: flex;
  margin-bottom: 10px;
}

h1, p, a {
  margin: 0 15px;
}

main {
  background: white;
  padding-top: 60px;
  padding-bottom: 60px;
}

.container-title {
  display: flex;
  margin-bottom: 30px;
  margin-top: 60px;
}

.container-title img {
  max-width: 140px;
}

.red-part .container-title {
  margin-top: 0;
}

.red-part {
  color: #d14646;
}

.blue-part {
  color: #3f67de;
}

.green-part {
  color: #669933;
}

.purple-part {
  color: #a62f94;
}

.yellow-part {
  color: #cc9900;
}

.white-part .container-title  {
  margin-top: 0;
}

.picture {
  max-width: 250px;
  margin-bottom: 40px;
}

p {
  margin-bottom: 20px;
}

.picture-right {
  float: right;
}

ul {
  list-style-position: outside;
}

footer {
  background: #1e1e1e;
  padding-top: 40px;
  color: #ffffff;
}

footer a {
  color: #ffffff;
}

footer a img {
  max-width: 28px;
  float: right;
  margin: 0 15px;
}

.footer-end {
  background-image: url(../img/provocative-graffiti.jpg);
  background-size: cover;
  background-color: #1e1e1e;
  padding: 70px 0 15px 190px;
  margin-top: 15px;
}